<div id="content" class="span-17 colborder">
	<%= render :partial => "shared/flash_messages" %>
	
	<% if @provider.pending? %>
		<div class="subscribe-block">
			<h2>Veuillez vérifier les informations de votre profil</h2>
		
			<p>
				Nom : <%= @provider.contact_name %><br/>
				Login : <%= @provider.login %><br/>
				Email : <%= @provider.email %><br/>
				Société : <%= @provider.company %><br/>
				Tel : <%= @provider.telephone %><br/>
				Fax : <%= @provider.fax %><br/>
				Mobile : <%= @provider.mobile if @provider.mobile %><br/>
				Adresse : <%= @provider.address %><br/>
				Code Postal : <%= @provider.zipcode %><br/>
				Ville : <%= @provider.city %><br/>
			</p>
		
			<p>
				<%= link_to "Modifier votre Compte", edit_provider_registration_path() %>
			</p>
		
			<hr/>
		
			<h3>Votre compte est suspendu, veuillez contactez le support pour le débloquer</h3>
		</div>
	
	<% else %>
	
		<div class="account">			
			<h4>Tableau de Bord</h4>
			
			<h5>Véhicules</h5>
			<p class="float_of_vehicles">
				Nombre de véhicules : <%= @provider.vehicles.count %> | <%= link_to "Ajouter un Vehicule", new_provider_vehicle_path(@provider) %> | <%= link_to "Consulter", provider_vehicles_path(@provider) %>
			</p>
			
			<h5>Commerciaux</h5>			
			<p class="salesman-team">
				Nombre de commerciaux : <%= @provider.salesmen.count %> | <%= link_to "Ajouter un commercial", new_provider_salesman_path(@provider) %> | <%= link_to "Consulter", provider_salesmen_path(@provider) %>
			</p>
			
			<h5>Statistiques</h5>
			<p>
				<!-- Prix moyen recherché :  -->
				<!-- Prix Maximum recherché : -->
				<!-- Prix minimum recherché : -->
				<!-- Kilométrage moyen recherché : -->
				<!-- Kilométrage maximum recherché : -->
				<!-- Kilométrage minimum recherché : -->
			</p>
			<p>
				<!-- Quantité moyenne de ventes par mois :  -->
				<!-- Meilleur vendeur : -->
				<!-- Plus mauvais vendeur : -->
			</p>
		</div>
	<% end %>
	
</div>
<div id="sidebar" class="span-6 last">

</div>
