<div id="content" class="span-17 colborder">
<p>
  <b>Question:</b>
  <%=h @faq.question %>
</p>

<p>
  <b>Answer:</b>
  <%=h @faq.answer %>
</p>


<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>

</div>

<div id="sidebar" class="span-6 last">
	<div class="database_state">
		<p>Statut</p>
		<p><%=h @vehicle_number %> offre(s)</p>
		<p><%=h @user_number %> utilisateur(s) enregistré(s)</p>
	</div>
	
	<div class="registration_block">
		<p>Vous êtes un professionnel ?</p>
		<p><%= link_to "Découvrez nos services", "/services.html" %></p>
	</div>
</div>