<div id="content" class="span-17 colborder">
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>
	
	<p class="invitation">
		Enregistrez vos profils de recherche et recevez quotidiennement les offres correspondantes<br/> <%= link_to "Créez votre compte", new_user_registration_path, :class => "bigLink" %>
	</p>

	<div class="searchform">
		<%- form_for :search, :url => searches_path() do |f| -%>
			<table>
				<tr>
					<td><%= f.select :category, Category.all.collect {|c| [c.name, c.name]}, {:include_blank => "Type"} %></td>
				</tr>
				<tr>
					<td><%= f.select :minprice, Vehicle::PRICE, {:include_blank => "Prix min"} %></td>
					<td><%= f.date_select :minyear, :start_year => 1960, :discard_day => true, :discard_month => true, :prompt => { :year => "Annee-modele min" } %></td>
					<td><%= f.select :minkilometrage, Vehicle::KILOMETRAGE, {:include_blank => "KM min"} %></td>
					<td><%= f.select :energy, Vehicle::ENERGY, {:include_blank => "Energie"} %></td>
				</tr>
				<tr>
					<td><%= f.select :maxprice, Vehicle::PRICE, {:include_blank => "Prix max"} %></td>
					<td><%= f.date_select :maxyear, :start_year => 1960, :discard_day => true, :discard_month => true, :prompt => { :year => "Annee-modele max" } %></td>
					<td><%= f.select :maxkilometrage, Vehicle::KILOMETRAGE, {:include_blank => "KM max"} %></td>
					<td><%= f.select :boite_vitesse, Vehicle::VITESSE, {:include_blank => "Boite vitesse"} %></td>
				</tr>
				<tr>
					<td colspan="4">Tous les champs sont optionnels</td>
					<td><%= submit_tag "Chercher" %></td>
				</tr>
			</table>
		  
		<% end -%>
	</div>
	
	<hr/>
	
	<h5>La sélection de la semaine</h5>
	<div class="week_selection">
		<% if @vehicles_of_the_week.empty? %>
			Pas de véhicules sélectionnés cette semaine
		<% else %>
			<% @vehicles_of_the_week.each do |v| %>
				<p>
					<%= image_tag(v.overviewpic.url(:thumb), :class => "overview") %>
					<%=h v.modele %> - Année : <%= v.display_year %> - <%= format_km(v.kilometrage) unless v.kilometrage.blank? %> - <%= v.price %> € | <%= link_to "Voir fiche", vehicle_path(v) %>
				</p>
			<% end %>
		<% end %>
	</div>
</div>

<div id="sidebar" class="span-6 last">
	<div class="database_state">
		<p>Statut</p>
		<p><%=h @vehicle_number %> offre(s)</p>
		<p><%=h @user_number %> utilisateur(s) enregistré(s)</p>
	</div>
	
	<div class="twitter">
		Suivez nos annonces sur : 
		<a href="http://www.twitter.com/gwadaoccasions"><img src="http://twitter-badges.s3.amazonaws.com/twitter-b.png" alt="Follow gwadaoccasions on Twitter"/></a>
	</div>
	
	<div class="registration_block">
		<p>Vous êtes un professionnel ?</p>
		<p><%= link_to "Découvrez nos services", "/services.html" %></p>
		<p>Vous êtes un particulier ?</p>
		<p>
			<%= link_to "Publiez gratuitement vos annonces", new_user_registration_path %>
		</p>
	</div>
</div>