<div id="content" class="span-17 colborder">
	<h1>Modifier Fiche Commercial</h1>

	<% form_for(@salesman) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :name, "Nom" %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.label :mobile_phone, "Tel. portable" %><br />
	    <%= f.text_field :mobile_phone %>
	  </p>
	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Retour', provider_salesmen_path(current_provider) %>
</div>
