<div id="content" class="span-17 colborder">
	<h4>Enregistrer un nouveau commercial</h4>	
	
	<div class="generic_form">
		<% form_for [current_provider, @salesman] do |f| -%>
		  <%= f.error_messages %>
			<table>
				<tr>
					<td><%= f.label :name, "Nom" %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td><%= f.label :mobile_phone, "Tel. portable" %></td>
					<td><%= f.text_field :mobile_phone %></td>
				</tr>
				<tr>
					<td colspan="2"><%= submit_tag "Enregistrer" %> </td>
				</tr>
			</table>
		<% end -%>
	</div>
</div>