<div id="content" class="span-17 colborder">
	<% if @subscription.pending? %>
	<h2>Vérification avant paiement</h2>
	<p>
		Vous serez rediriger sur le site de Paypal pour effectuer le paiement
	</p>
	
	<p align="center">
		<% paypal_form_tag do %>
			<%= paypal_subscription_setup "Abonnement Standard", "gilles_1238294519_biz@me.com", @subscription.plan.human_price, @subscription.id, :return => congrats_url(@provider.id), :notify_url => payment_notifications_url, :currency_code => "EUR" %>
			<%= submit_tag "Payer sur Paypal" %>
		<% end %>
	</p>
	
	<p>
		Abonnement choisi : <%= @subscription.plan.nom %> : <%= format_price(@subscription.plan.human_price) %>
	</p>
	
	<p align="center">
		<% paypal_form_tag do %>
			<%= paypal_subscription_setup "Abonnement Standard", "gilles_1238294519_biz@me.com", @subscription.plan.human_price, @subscription.id, :return => congrats_url(@provider.id), :notify_url => payment_notifications_url, :currency_code => "EUR" %>
			<%= submit_tag "Payer sur Paypal" %>
		<% end %>
	</p>
	<% else %>
		<h2>Merci de vous être abonné ! Bienvenue parmi nous</h2>
	<% end %>
</div>