<h4>Résultats de votre recherche</h4>
<% if @vehicles %>
<div class="search_results">
	<% unless @vehicles.empty? %>
		<% @vehicles.each do |v| %>
			<div class="result">
				<p>
					<%=h v.modele %> - Année : <%=h v.display_year %> - <%= format_km(v.kilometrage) unless v.kilometrage.blank? %> - <%=h v.price %> € - <%= link_to "Voir fiche", vehicle_path(v) %>
				</p>
			</div>
		<% end %>
	<% else %>
		<div class="result">
			<p>
				Pas de résultats.
			</p>				
		</div>
	<% end %>
</div>
<%- end -%>