<div id="content" class="span-17 colborder">	
	
	<% if request.path == vehicles_path() %>
		<h4>Toutes les offres classées par prix croissant</h4>
	<% elsif provider_signed_in? %>
		<h4>Tous vos véhicules</h4>
	<% end %>
	
	<div class="vehicles_list">
		<% if !@vehicles.blank? %>
		
		  <% for v in @vehicles %>
		
		    <p class="listitem">
					<%= image_tag(v.overviewpic.url(:thumb)) %>  <%= vehicle_info(v) %>
					<%= link_to "Voir fiche", vehicle_path(v), :class => "showlink"%>
					<% if provider_signed_in? %>
						| <%= link_to "Modifier", edit_provider_vehicle_path(current_provider, v.id) %> |
						<%= link_to "Supprimer", provider_vehicle_path(current_provider, v.id), :method => "delete" %>
						|	<%= vehicle_available?(v) %> | <%= taggable_for_the_week?(v) %>					
					<% end %>
				</p>
				<hr/>
				<p class="client_potentiel">
					Clients potentiels pour ce véhicule : <%= v.matching_searchprofiles.count %><br/>
					<ul>
						<% v.matching_searchprofiles.each do |sp| %>
							<li><%= sp.user.name %> - <%= sp.user.mobile %> | <%= sp.user.email %></li>
						<% end %>
					</ul>
				</p>

		  <% end %>
		
		<% else %>
		  Pas de véhicules pour le moment.
		<% end %>

		<p class="navlinks">
			<%= will_paginate @vehicles, :previous_label => "Précédent", :next_label => "Suivant" %>
		</p>
	</div>
</div>

<div id="sidebar" class="span-6 last">
	<div class="database_state">
		<p>Statut</p>
		<p><%=h @vehicle_number %> offre(s)</p>
		<p><%=h @user_number %> utilisateur(s) enregistré(s)</p>
	</div>
	
	<% unless provider_signed_in? || user_signed_in? %>
		<div class="registration_block">
			<p>Vous êtes un professionnel ?</p>
			<p><%= link_to "Découvrez nos services", "/services.html" %></p>
			<p>Vous êtes un particulier ?</p>
			<p>
				<%= link_to "Publiez gratuitement vos annonces", new_user_registration_path %>
			</p>
		</div>
	<% else %>
		<div class="actions_block">
			<p>
				<%= link_to "Ajouter un Véhicule", new_provider_vehicle_path(current_provider) %>
			</p>
		</div>
	<% end %>
</div>