<% content_for :script do %>
	<%= javascript_include_tag 'highslide-with-gallery', :cache => true %>
	<%= stylesheet_link_tag 'highslide', :cache => true %>
	<script type="text/javascript">
	hs.graphicsDir = '/images/highslide/graphics/';
	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.outlineType = 'rounded-white';
	hs.fadeInOut = true;
	//hs.dimmingOpacity = 0.75;

	// Add the controlbar
	hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		fixedControls: 'fit',
		overlayOptions: {
			opacity: .75,
			position: 'bottom center',
			hideOnMouseOut: true
		}
	});
	</script>
<% end %>

<div id="content" class="span-17 colborder">
	<%= render :partial => "shared/flash_messages" %>
	
	<% unless provider_signed_in? %>
		<p class="invitation">
			Enregistrez vos profils de recherche et recevez quotidiennement les offres correspondantes<br/>
			<%= link_to "Créez votre compte", new_user_registration_path, :class => "bigLink" %>
		</p>
	<% end %>
	
	<hr/>
	
	<div class="vehicle_description">
		<div id="overview">
			<p class="img_overview">
				<%= image_tag(@vehicle.overviewpic.url(:large), :class => "overview") %>
			</p>
			<div class="infos"><%= vehicle_info(@vehicle) %></div>
		</div>
		<div class="highslide-gallery">
			<table>
				<tr>
					<td><%= link_to( image_tag(@vehicle.frontpic.url(:thumb)), @vehicle.frontpic.url(:large), :class => "highslide", :onclick => "return hs.expand(this);" ) %></td>
					<td><%= link_to( image_tag(@vehicle.backpic.url(:thumb)), @vehicle.backpic.url(:large), :class => "highslide", :onclick => "return hs.expand(this);" ) %></td>
					<td><%= link_to( image_tag(@vehicle.rfrontpic.url(:thumb)), @vehicle.rfrontpic.url(:large), :class => "highslide", :onclick => "return hs.expand(this);" ) %></td>
				</tr>
				<tr>
					<td><%= link_to( image_tag(@vehicle.lfrontpic.url(:thumb)), @vehicle.lfrontpic.url(:large), :class => "highslide", :onclick => "return hs.expand(this);" ) %></td>
					<td><%= link_to( image_tag(@vehicle.rbackpic.url(:thumb)), @vehicle.rbackpic.url(:large), :class => "highslide", :onclick => "return hs.expand(this);" ) %></td>
					<td><%= link_to( image_tag(@vehicle.lbackpic.url(:thumb)), @vehicle.lbackpic.url(:large), :class => "highslide", :onclick => "return hs.expand(this);" ) %></td>
				</tr>
			</table>
		</div>
		
		<div class="description">
			<p>
				<%=h @vehicle.description %>
			</p>
		</div>
		
		<div class="actions">
			<p>
				<%= link_to "Imprimez la fiche", print_vehicle_path(@vehicle) %> | 
				<%= link_to "Sélectionnez", select_vehicle_path(@vehicle), :method => :put %>  |
				<%= link_to_function("Dites-le à un ami", "$('tell_#{@vehicle.id}').toggle()" ) %>
				<%- if provider_signed_in? -%>
					<%= link_to "Modifier", edit_provider_vehicle_path(current_provider, @vehicle) %> | <%= link_to "Supprimer", provider_vehicle_path(current_provider, @vehicle), :method => :delete, :confirm => "En êtes vous sur ?" %>
				<%- end -%>
			</p>
			<div id="tell_<%= @vehicle.id %>" style="display:none" class="append">
				<%- form_remote_tag :url => tellafriend_vehicle_path(@vehicle),:update => "flash_messages", :complete => "$('tell_#{@vehicle.id}').hide();" do -%>
					De : <%= text_field_tag :from_email %>
					Email destinataire : <%= text_field_tag :friend_email %>
					<%= submit_tag "Envoyer" %>
				<%- end -%>
			</div>
			<div id="mailmessage">				
			</div>
		</div>
		
	</div>

</div>

<div id="sidebar" class="span-6 last">
	<div class="database_state">
		<p>Statut</p>
		<p><%=h @vehicle_number %> offre(s)</p>
		<p><%=h @user_number %> utilisateur(s) enregistré(s)</p>
	</div>
	
	<div class="registration_block">
		<p>Vous êtes un professionnel ?</p>
		<p><%= link_to "Découvrez nos services", "/services.html" %></p>
	</div>
	
	<%- if provider_signed_in? -%>
		<!-- TODO : implement a quick search form -->
	<%- end -%>
</div>