<div id="content" class="span-17 colborder">
	<p class="invitation">
		Enregistrez vos profils de recherche et recevez quotidiennement les offres correspondantes<br/> <%= link_to "Créez votre compte", new_user_registration_path, :class => "bigLink" %>
	</p>
	
	<hr/>
	
	<div class="vehicle_description">
		
		<p><%= vehicle_info(@vehicle) %></p>
		
		<div class="gallery">
			<%= image_tag(@vehicle.overviewpic.url(:large)) %>
			<table>
				<tr>
					<td><%= image_tag(@vehicle.frontpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.backpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.rfrontpic.url(:thumb)) %></td>
				</tr>
				<tr>
					<td><%= image_tag(@vehicle.lfrontpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.rbackpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.lbackpic.url(:thumb)) %></td>
				</tr>
			</table>
		</div>
		
		<div class="description">
			<p class="infos">
				<%= quick_info(@vehicle) %>
			</p>
			<p>
				<%=h @vehicle.description %>
			</p>
		</div>
		
		<div class="actions">
			<p>
				<%= link_to "Imprimez la fiche", print_vehicle_path(@vehicle) %> | 
				<%= link_to "Sélectionnez", select_vehicle_path(@vehicle) %> |
				<%= link_to "Dites-le à un ami", tellafriend_vehicle_path(@vehicle) %>
			</p>
		</div>
	</div>

</div>

<div id="sidebar" class="span-6 last">
	<div class="database_state">
		<p>Statut</p>
		<p><%=h @vehicle_number %> offre(s)</p>
		<p><%=h @user_number %> utilisateur(s) enregistré(s)</p>
	</div>
	
	<div class="registration_block">
		<p>Vous êtes un professionnel ?</p>
		<p><%= link_to "Découvrez nos services", "/services.html" %></p>
		<p>Vous êtes un particulier ?</p>
		<p>
			<%= link_to "Publiez gratuitement vos annonces", new_user_registration_path %>
		</p>
	</div>
</div>