<div id="content" class="span-17 colborder">
	<p class="invitation">
		Enregistrez vos profils de recherche et recevez quotidiennement les offres correspondantes<br/> <%= link_to "Créez votre compte", new_user_registration_path, :class => "bigLink" %>
	</p>
	
	<hr/>
	
	<div class="vehicle_description">
		<h5>
			<%= vehicle_title(@vehicle) %>
		</h5>
		
		<div class="gallery">
			<%= image_tag(@vehicle.overviewpic.url(:large)) %>
			<table>
				<tr>
					<td><%= image_tag(@vehicle.frontpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.backpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.rfrontpic.url(:thumb)) %></td>
				</tr>
				<tr>
					<td><%= image_tag(@vehicle.lfrontpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.rbackpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.lbackpic.url(:thumb)) %></td>
				</tr>
			</table>
		</div>
		
		<div class="description">
			<p class="infos">
				<%=h format_km(@vehicle.kilometrage) %> - <%=h @vehicle.energy %> - Boite <%=h @vehicle.boite_vitesse %> - Immatriculé : <%=h @vehicle.immatriculation %>
			</p>
			<p>
				<%=h @vehicle.description %>
			</p>
		</div>
	</div>
</div>