<div id="content" class="span-17 colborder">
	<%= render :partial => "shared/flash_messages" %>
	
	<p class="invitation">
		Enregistrez vos profils de recherche et recevez quotidiennement les offres correspondantes<br/> <%= link_to "Créez votre compte", new_user_registration_path, :class => "bigLink" %>
	</p>
	
	<hr/>
	
	<div class="vehicle_description">
		
		<p><%= vehicle_info(@vehicle) %></p>
		
		<div class="gallery">
			<p><%= image_tag(@vehicle.overviewpic.url(:large)) %></p>
			<table>
				<tr>
					<td><%= image_tag(@vehicle.frontpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.backpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.rfrontpic.url(:thumb)) %></td>
				</tr>
				<tr>
					<td><%= image_tag(@vehicle.lfrontpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.rbackpic.url(:thumb)) %></td>
					<td><%= image_tag(@vehicle.lbackpic.url(:thumb)) %></td>
				</tr>
			</table>
		</div>
		
		<div class="description">
			<p class="infos">
				<%= quick_info(@vehicle) %>
			</p>
			<p>
				<%=h @vehicle.description %>
			</p>
		</div>
		
		<div class="actions">
			<p>
				<%= link_to "Imprimez la fiche", print_vehicle_path(@vehicle) %> | 
				<%= link_to "Sélectionnez", select_vehicle_path(@vehicle), :method => :put %>  |
				<%= link_to_function("Dites-le à un ami", "$('tell_#{@vehicle.id}').toggle()" ) %>
			</p>
			<div id="tell_<%= @vehicle.id %>" style="display:none" class="append">
				<%- form_remote_tag :url => tellafriend_vehicle_path(@vehicle),:update => "flash_messages", :complete => "$('tell_#{@vehicle.id}').hide();" do -%>
					De : <%= text_field_tag :from_email %>
					Email destinataire : <%= text_field_tag :friend_email %>
					<%= submit_tag "Envoyer" %>
				<%- end -%>
			</div>
			<div id="mailmessage">				
			</div>
		</div>
		
	</div>

</div>

<div id="sidebar" class="span-6 last">
	<div class="database_state">
		<p>Statut</p>
		<p><%=h @vehicle_number %> offre(s)</p>
		<p><%=h @user_number %> utilisateur(s) enregistré(s)</p>
	</div>
	
	<div class="registration_block">
		<p>Vous êtes un professionnel ?</p>
		<p><%= link_to "Découvrez nos services", "/services.html" %></p>
		<p>Vous êtes un particulier ?</p>
		<p>
			<%= link_to "Publiez gratuitement vos annonces", new_user_registration_path %>
		</p>
	</div>
</div>